<!-- About Us Starts Here -->
<div class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="left-image">
            <img src="assets/images/PMO-equipe.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-content">
            <div class="section-heading">
              <span>About Us</span>
              <h2>Our Story</h2>
              <p>The University of Sousse aims to improve its participation in the programs of
                Research and Innovation funding, in this case the R&I Framework Program
                Horizon 2020. Within this framework, a project engineering unit is set up to
                strengthen the skills of the scientific and industrial community in terms of
                mounting of international projects. The main mission of this unit is to get around
                the set of difficulties encountered by potential project leaders and will ensure the
                implementation of a technical support process for submission.</p>
               
               

            </div>
           
              </div>
          </div>
        </div>
      </div>
    </div>

  <!-- About Us Ends Here -->

   