<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="col-sm-6 offset-sm-3 mt-2">
  <form [formGroup]="missionForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" placeholder="Que vendez-vous ?" id="title" formControlName="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description"
                id="description"
                cols="30" rows="7"
                class="form-control"
                formControlName="description"
                placeholder="Décrivez votre objet (type, qualité, etc.)"></textarea>
    </div>
    
    <button class="btn btn-success" (click)="onSubmit()" [disabled]="missionForm.invalid">Valider</button>
    <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>
